{% load thumbnail static %}

<div class="featured-header clearfix">
    <div class="fhead-spacer line"></div>
    <div class="fhead-spacer">
        <img src="{% static 'images/featuredactivity.png' %}" alt="featured activity">
    </div>
    <div class="fhead-spacer line"></div>
</div>

<ul class="featured-items clearfix">
    {% for rich_link in rich_links %}
    <li class="featured-item">
    <div class="slider-item-{{ rich_link.button_color }}">
        {% if rich_link.url %}
            <a href="{{ rich_link.url }}">
        {% else %}
            <a href="{{ rich_link.page.get_absolute_url }}">
        {% endif %}
            <span class="label">{{ rich_link.button_text }}</span>
            <div class="title"><span>{{ rich_link.title }}</span></div>
            {% if rich_link.image %}

                {% thumbnail rich_link.image "320x250" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ rich_link.title }}"> 
                {% endthumbnail %}
            {% else %}

                <img width="320" height="250" src="/static/images/update.jpg">
            {% endif %}
        </a>
    </div>
    </li>
    {% endfor %}
</ul>    
