{% load thumbnail static %}

<div class="ck-richlink-group clearfix">
    {% for rich_link in rich_links %}
        <div class="grid_6 {% if forloop.counter|divisibleby:2 %}omega{% else %}alpha{% endif %} rich_link_left">
            {% thumbnail rich_link.image "140x155" crop="center" as im %}
                <img class="grid_2 alpha" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ slide.title }}"> 
            {% endthumbnail %}
            <div class="grid_4 omega content">
                <h4>{{ rich_link.title }}</h4>
                <p>{{ rich_link.content }}</p>
                {% if rich_link.url %}
                    <a  href="{{ rich_link.url }}" target="_blank" class="cc-btn cc-btn-{{ rich_link.button_color }}">{{ rich_link.button_text }} <span>&rsaquo;</span></a>
                {% else %}
                    <a  href="{{ rich_link.page.get_absolute_url }}" class="cc-btn cc-btn-{{ rich_link.button_color }}">{{ rich_link.button_text }} <span>&rsaquo;</span></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
