{% load thumbnail static %}

<div class="ck-richlink-group clearfix">
    {% for rich_link in rich_links %}
        {% if forloop.counter == 1 %}
        <div class="grid_4 alpha rich_link_top rich_link_top2 {{ rich_link.link_color }}">
        {% elif forloop.counter|divisibleby:3 %}
            <div class="grid_4 omega rich_link_top rich_link_top2 {{ rich_link.link_color }}">
        {% else %}
            <div class="grid_4 rich_link_top rich_link_top2 {{ rich_link.link_color }}">
        {% endif %}
        
            {% if rich_link.url %}
                <a  href="{{ rich_link.url }}">
            {% else %}
                <a  href="{{ rich_link.page.get_absolute_url }}">
            {% endif %}
                {% thumbnail rich_link.image "242x242" crop="center" format="PNG" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ slide.title }}"> 
                {% endthumbnail %}
                <div class="content">
                    <h4>{{ rich_link.title }}</h4>
                    <p>{{ rich_link.content }}</p>
                    {% if rich_link.url %}
                        <a  href="{{ rich_link.url }}" target="_blank" class="cc-btn cc-btn-{{ rich_link.button_color }}">{{ rich_link.button_text }} <span>&rsaquo;</span></a>
                    {% else %}
                        <a  href="{{ rich_link.page.get_absolute_url }}" class="cc-btn cc-btn-{{ rich_link.button_color }}">{{ rich_link.button_text }} <span>&rsaquo;</span></a>
                    {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
