{% load thumbnail static %}


<div class="ck-richlink-group container_12 clearfix">
    {% for rich_link in rich_links %}
        {% if rich_link.url %}
            <a href="{{ rich_link.url }}" target="_blank" class="ck-richlink-partner grid_4">
        {% else %}
            <a href="{{ rich_link.page.get_absolute_url }}" class="ck-richlink-partner grid_4">
        {% endif %}
            {% thumbnail rich_link.image "298x198" padding=True as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ rich_link.title }}"> 
            {% endthumbnail %}
        </a>
    {% endfor %}
</div>
