{% load thumbnail static %}

<div class="sidebar_page">
    <div class="ck-richlink-group clearfix">
        {% for rich_link in rich_links %}
            <div class="ck-richlink-researcher">
                <a href="{{ rich_link.get_absolute_url }}">
                    {% thumbnail rich_link.image "290x145" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ rich_link.name }}">
                    {% endthumbnail %}
                    <h3>{{ rich_link.title }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>
</div>