<div class="sidebar_page">
    <div class="ck-richlink-group clearfix">

        <h2>{{ object.title }}</h2>
        
        {% for rich_link in rich_links %}
            <div class="ck-richlink-simple">

                {% if rich_link.url %}
                    <a href="{{ rich_link.get_absolute_url }}">
                        <h3>{{ rich_link.title }}</h3>
                    </a>
                {% else %}
                    <a href="{{ rich_link.page.get_absolute_url }}">
                        <h3>{{ rich_link.title }}</h3>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>