{% load thumbnail static %}
{% load cms_tags %}

<div class="featured-header clearfix">
    <div class="fhead-spacer line"></div>
    <div class="fhead-spacer">
        <img src="{% static 'images/featuredactivity.png' %}" alt="featured activity">
    </div>
    <div class="fhead-spacer line"></div>
</div>

<ul class="featured-items clearfix">
    <li class="featured-item">
    <div class="slider-item-blue">
        {% comment "Hack" %}
        <a href="{{ featured_news.get_absolute_url }}">
            <span class="label">news</span>
            <div class="title"><span>{{ featured_news.title }}</span></div>
            {% if featured_news.thumbnail %}
                {% thumbnail featured_news.thumbnail "320x250" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ featured_news.title }}"> 
                {% endthumbnail %}
            {% elif featured_news.image %}
                {% thumbnail featured_news.image "320x250" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ featured_news.title }}"> 
                {% endthumbnail %}
            {% else %}

                <img width="320" height="250" src="/static/images/update.jpg">
            {% endif %}
        </a>
        {% endcomment %}
        <a href="/make-a-donation/make-donation/">
            <img width="320" height="250" src="/static/images/the-cure-collective-1.jpg" alt="The Cure Collective">
        </a>
    </div>  
    </li>
    {% comment "hack for GODZone" %}
    <li class="featured-item">
    <div class="slider-item-purple">
        <a href="{{ featured_researcher.get_absolute_url }}">
            <span class="label">researcher</span>
            <div class="title"><span>{{ featured_researcher.name }}</span></div>
            {% if featured_researcher.profile_image %}
                {% thumbnail featured_researcher.profile_image "320x250" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ featured_researcher.name }}"> 
                {% endthumbnail %}
            {% else %}
                <img width="320" height="250" src="/static/images/update.jpg">
            {% endif %}
        </a>
    </div>  
    </li>
    {% endcomment %}
    <li class="featured-item">
    <div class="slider-item-purple">
        <a href="http://www.curekids.org.nz/godzone/">
            <div class="title"><span>Cure Kids Team racing in GODZone 2015</span></div>

            <img width="320" height="250" src="//cdn.node.co.nz/curekids/Cure%20Kids%20GODZone%20Page.png">

        </a>
    </div>  
    </li>
    <li class="featured-item">
    <div class="slider-item-pink">
        <a href="{{ featured_event.get_absolute_url }}">
            <span class="label">event</span>
            <div class="title"><span>{{ featured_event.title }}</span></div>
            {% if featured_event.thumbnail %}
                {% thumbnail featured_event.thumbnail "320x250" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ slide.title }}"> 
                {% endthumbnail %}
            {% elif featured_event.image %}
                {% thumbnail featured_event.image "320x250" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ slide.title }}"> 
                {% endthumbnail %}
            {% else %}
                
                <img width="320" height="250" src="/static/images/update.jpg">
            {% endif %}
        </a>
    </div>  
    </li>
</ul>    
