{% load thumbnail static cms_tags menu_tags %}

<div class="ck-default-header container_12 clearfix">
    <div class="ck-default-header-content grid_9">
        <h2 class="grid_9">
            {% if object.title %}
                {{ object.title }}
            {% else %}
                {% page_attribute "title" %}
            {% endif %}
        </h2>
        <p class="grid_9">{{ object.content }}</p>
    </div>
    <div class="ck-default-header-image grid_3">
        {% thumbnail object.image "280x169" crop="center" as im %}
            <img class="hero-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.title }}"> 
        {% endthumbnail %}
    </div>
</div>