{% load thumbnail static cms_tags menu_tags %}

<div class="hero-block">
    <h1>
        {% if object.title %}
            {{ object.title }}
        {% else %}
            {% page_attribute "title" %}
        {% endif %}
    </h1>
    <p>{{ object.content }}</p>
    {% thumbnail object.image "960x280" crop="center" as im %}
        <img class="hero-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.title }}"> 
    {% endthumbnail %}
</div>