{% load thumbnail static cms_tags menu_tags %}

<div class="container_12">
    <div class="grid_8">
        <h2>
            {% if object.title %}
                {{ object.title }}
            {% else %}
                {% page_attribute "title" %}
            {% endif %}
        </h2>
        <p>{{ object.content }}</p>
    </div>
    <div class="grid_4">
        {% thumbnail object.image "280x169" crop="center" as im %}
            <img class="hero-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.title }}"> 
        {% endthumbnail %}
    </div>
</div>