<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId={{ object.app_id }}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like-box" data-href="{{ object.page_url }}" data-colorscheme="{{ object.color_scheme }}" data-show-faces="{{ object.show_friends_faces|yesno:'true,false' }}" data-header="{{ object.show_header|yesno:'true,false' }}" data-stream="{{ object.show_posts|yesno:'true,false' }}" data-show-border="{{ object.show_border|yesno:'true,false' }}" data-height="{{ object.height }}" data-width="{{ object.width }}"></div>
