<form name="contact" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.sent %}
        <p>Thanks, your message has been sent</p>
    {% else %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}   

        <p>
            <input type="submit" value="Submit">
        </p>
    {% endif %}
</form>
