{% load thumbnail static %}

<div class="featured-header clearfix">
    <div class="fhead-spacer line"></div>
    <div class="fhead-spacer">
        <img src="{% static 'images/featuredactivity.png' %}" alt="featured activity">
    </div>
    <div class="fhead-spacer line"></div>
</div>
<div id="feature-slider" class="swipe">
    <ul class="swipe-wrap">
        <li class="test">
        
            <div>
                {% for slide in slides %}
                    {% if forloop.counter0|divisibleby:3 and not forloop.counter0 == 0 %}
                        </div></li><li class="test"><div>
                    {% endif %}
                    <div class="slider-item-{% cycle 'blue' 'purple' 'pink' %}">
                        <a href="{{ slide.link }}">
                            <span class="label">{{ slide.title }}</span>
                            {% if slide.content|length > 0 %}
                                <p class="title">{{ slide.content }}</p>
                            {% endif %}
                            {% thumbnail slide.image "320x250" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ slide.title }}"> 
                            {% endthumbnail %}
                        </a>
                    </div>  
                {% endfor %}
            </div>
        </li>
    </ul>    
</div>
