{% load thumbnail %}
<div id='slider' class='swipe'>
    <ul class='swipe-wrap'>
        {% for slide in slides %}
            <li>
                <a href="{{ slide.link }}">
                    <h1>{{ slide.content }}</h1>
                    {% thumbnail slide.image "960x380" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ slide.title }}"> 
                    {% endthumbnail %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
