{% load cms_tags thumbnail menu_tags %}

<div class="promotion">
    {% thumbnail object.image "300x150" crop="center" as im %}
        <img class="promotion-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ slide.title }}">
    {% endthumbnail %}
    <div class="promotion-content">
        <h3>Promo heading here</h3>
        <p>Lorem ipsum dolor sit amet, consectet adipiscing elit. Mauris vitae dui at metus pretium aliquam. Mauris et arcu diam. Duis gravida neque nunc, ut pharetra eros dictum eget. </p>
        <a  class="cc-btn cc-btn-blue" href="#" >Find out more <span>&rsaquo;</span></a>
    </div>
</div>