{% load thumbnail static %}

<div id="modal" data-state="{% if object.active == False %}0{% else %}1{% endif %}" class="hidden">
    
    <div class="modal-title">
        <span class="modal-close icon-cross"></span>
        <h3>{{ object.title }}</h3>
    </div>
    <div class="modal-content">
        {% thumbnail object.image "500x215" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.title }}"> 
        {% endthumbnail %}
        <div class="modal-copy">
            {{ object.content|safe }}
        </div>
    </div>
    <div class="modal-footer">
        {% if object.url %}
            <a  href="{{ object.url }}" class="cc-btn cc-btn-{{ object.button_color }}">{{ object.button_text }} <span>&rsaquo;</span></a>
        {% elif object.page %}
            <a  href="{{ object.page.get_absolute_url }}" class="cc-btn cc-btn-{{ object.button_color }}">{{ object.button_text }} <span>&rsaquo;</span></a>
        {% endif %}
    </div>
</div>