<a href="{{ object.rich_file.url }}" target="_blank" class="rich_file">
    {% if object.show_title %}
        <p>{{ object.title }}</p>
    {% endif %}
    {% if object.image and object.show_image %}
        <p>
            <img src="{{ object.image.url }}" alt="{{ object.title }}">
        </p>
    {% endif %}
</a>